/* Base */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3{
    text-align: center;
    text-transform: uppercase;
}

p{
    line-height: 1.5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    /* sita naudojau, kai paveikslelio raiska didele ir reikia ji apkarpyti:
    width: 100%;
    height: 100%;
    object-fit: cover; */
}

/* Layout */

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #aa9f92;
}

/* Header */

header{
    height: 150px;
    background-color: #66cdab;
    padding: 10px;
}

header h1{
    color: #f0ffff;
}

/* Navbar */

nav{
    background-color: #ff6347;
    
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 0 5px;
    flex-grow: 1; /* islygiuoja linkus pagal abu krastus, keiciantis ekranui, keiciasi */
}

nav ul li a{
    display: block;
    color: azure;
    background-color: hsl(8, 64%, 17%);
    padding: 5px;
}

/* Main */

main{
    display: flex;
}

.content{
    background-color: rgb(209, 131, 36);
    padding: 5px;
    /*width: 80%;*/
    flex-grow: 3;
    min-height: 800px;
}

aside{
    background-color: #ff6347;
    padding: 5px;
    text-align: center;
    /*width: 20%;*/
    flex-grow: 1; /*vietoje width galima naudoti flex-grow, 
    aside yra 3 kartus mazesnis uz content*/
}

aside a{
    color: #f0ffff;
}

footer{
    background: #4a453f;
    color: #f1e7e7;
    padding: 10px;
    text-align: center;
}